.road-fighter {
    h1 {
        color: $color-error;
    }

    &__canvas {
        display: block;
        // height: calc(100vh - rescale(90px));
        height: rescale(calc((1080px - 90px)));
        margin: 0 auto;
        // max-width: 100%;
        // width: calc(100vw - rescale(90px));
        width: rescale(calc((1920px - 90px)));
    }

    &__instructions {
        color: $color-font;
        font-size: rescale(24px);
        margin: rescale(12px) 0 0;
    }

    .game-over {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.8);
        &__content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
        p {
            font-size: rescale(36px);
        }
        .enter {
            font-weight: bold;
            text-decoration: underline;
            color: $color-link;
        }
    }
}
