body {
    padding: rescale(24px) rescale(33px);
    margin: 0;
    background-color: $color-primary;
    color: $color-font;
    font-family: 'Black Ops One', system-ui;
}

h1 {
    font-size: rescale(60px);
    font-weight: 800;
    margin: 0;
    padding: 0;
    margin-bottom: rescale(15px);
}

.center {
    text-align: center;
}
